*.class
**/target
**/test-output
**/journal
**/segmented-journal
**/snapshots
**/*.db.mv.db

lighty-models/**/java/org/opendaylight/yang/gen/**/*

bin/
cache/
dist
.idea
.classpath
.project
.settings

*.iml
*.ipr
*.iws
*.log

persistence

datastore-config.properties
datastore-operational.properties
