language: java

jdk:
 - oraclejdk8
 - oraclejdk11

before_install:
  - echo -n | openssl s_client -connect scan.coverity.com:443 | sed -ne '/-BEGIN CERTIFICATE-/,/-END CERTIFICATE-/p' | sudo tee -a /etc/ssl/certs/ca-
  - wget https://raw.githubusercontent.com/opendaylight/odlparent/master/settings.xml; cp ./settings.xml $HOME/.m2/settings.xml

cache:
  directories:
    - '$HOME/.m2/repository'

before_cache:
  - rm -rf $HOME/.m2/repository/io/lighty

script:
  - if [ "${COVERITY_SCAN_BRANCH}" != 1 ]; then mvn clean install ; fi
  - 'if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then mvn sonar:sonar -Dsonar.projectKey=PantheonTechnologies_lighty-core -Dsonar.host.url=https://sonarcloud.io; fi'

env:
  global:
   # The next declaration is the encrypted COVERITY_SCAN_TOKEN, created
   #   via the "travis encrypt" command using the project repo's public key
   - secure: "RT5SUoUk+tW3pIAmGoFhZsnQeWWBoFzyoj9ElFT15phYCTD5l5Z+7uqCitW2mQ0Lbd8kXff+xs1mkTsuSUBQQCpYmBQD5qD2dQBzLEKoJKVMG4VAOruSxpRu42atB6NkRk8aLwTWqoOFl0tGmh03UqmuzVLB3rw6M6QG7JZFB28cunJA3rgGkLnBD5X9yxvudcnIHmm/vIFJPO5AeRhCR8HrqdbH7shtKTLkTwvSy+gdqbCW6SMQ/fgZ4GgzuKQZQ/opfBXyFV1U/Hco/Jc8P/LzbdEmR9IQJb/lfnaSPb+1g6bINQgnNrkWTcgw3ieB7ds1Qim3EvKMy9nB67CjeqPJ1oSY9BgVoDdUR/apaF3WY7O+BML7x2Bl74TB31vBsrJGO9Q4R9XEBc+T+O3RDkO5viD8WREDoRYuFz3RxIn9NEexXcq8Hch8tLbSlLa3c7Tz3VDAWIRAK03Vkkrs0IZosMtQtn4++Rd4S9lSJVv/xdMwscVbDeKL2uAtmdrkIi+Vea4SaqY0ODmV0XerKuB4uqjQ7OgiOQKS+SyhHpBSDllBYPltbPJaebJjBnLJJwnMLbeUaN0YRUyva0ppX4FF0et9VV3FPFhj9sU6uxxIrqaEwP+4qtR5dRJAKynGtGaPIhOaaLRn87V5cMSzp+R7DSiieXbvjLBYEDjREAo="

addons:
  sonarcloud:
    organization: "pantheon-tech"
    token:
      secure: "fkcWYUhv3v2sq2uJXu+IPhnZAQpMoytVk/GxzpYsnRVXIv1Ttm3aWWIn9NekhCRvKbSPTvggc522D/uxz1uiCTbpK4HM8Pf3pCQZkVCrAWFrTmeIuhJY4lz4JrEWzUmFH0qx/9xUrktxUESIcJsbr6BEDOtYfN3r4BhaCXkXqgfNZT2mas9gAxlLjDecauaETbSuQZydR6wkuzPLq5o7VvEyYt7jC3iNaCpSb05Nk+tdr2B36pe/O92bLasgbmCxUMY/UELE/Dk/YxMBXv4/sH1Kw45NGTqq5b0317OM8xhAylNokruw22J8k788xtXwySetGkyMsnOiu+ibtDVFbt+mlJ7p5JaMX7ZWkHP5iHgQypqm0gsLRwq2HdwZj4UramwmOPqvAl2veCzTkQ+R01nr/BjAmRxO1kVtK7/lTjHFwV527e7e2ZtvvEJEq1ukzJ25jbHDxZrrYqykMAPwgHztjiHZpQymSN7fnXSnbmo3LDsXnQwKv+z3f6J6zkh/EonxDEr3XEP+ixGCbl4M/Duq0M5Qy6Qi/j8KmhD1JQ/Hys0tl2Co9BoQ+wLRM0DqkWrWisay9ZsJKO6PB7mmo0JGbH9H1JHiuiC2CHPMxktbe+lf476Vnewe1yU/O/116QC+vPlBy0DBgNXSr4Q7BtaR6P/eUoRag06uAOk3fLw="

  coverity_scan:
    project:
      name: lighty-core
      description: lighty.io
    notification_email: juraj.veverka@pantheon.tech
    build_command: mvn clean install
    branch_pattern: master
