dist: xenial
language: java

jdk:
  - openjdk8

# disable shallow clone so SonarCloud can use SCM history to compute blame data
git:
  depth: false

# the first part of the cache phase happens
# between git checkout and before_install
cache:
  directories:
    - $HOME/.m2/repository

# the default java install step does
# mvn install -DskipTests=true -Dmaven.javadoc.skip=true -B -V
install:
  - mvn install -DskipTests=true -B -V

# addons are executed between install and script
addons:
  sonarcloud:
    organization: "pantheon-tech"
    token:
      secure: "fkcWYUhv3v2sq2uJXu+IPhnZAQpMoytVk/GxzpYsnRVXIv1Ttm3aWWIn9NekhCRvKbSPTvggc522D/uxz1uiCTbpK4HM8Pf3pCQZkVCrAWFrTmeIuhJY4lz4JrEWzUmFH0qx/9xUrktxUESIcJsbr6BEDOtYfN3r4BhaCXkXqgfNZT2mas9gAxlLjDecauaETbSuQZydR6wkuzPLq5o7VvEyYt7jC3iNaCpSb05Nk+tdr2B36pe/O92bLasgbmCxUMY/UELE/Dk/YxMBXv4/sH1Kw45NGTqq5b0317OM8xhAylNokruw22J8k788xtXwySetGkyMsnOiu+ibtDVFbt+mlJ7p5JaMX7ZWkHP5iHgQypqm0gsLRwq2HdwZj4UramwmOPqvAl2veCzTkQ+R01nr/BjAmRxO1kVtK7/lTjHFwV527e7e2ZtvvEJEq1ukzJ25jbHDxZrrYqykMAPwgHztjiHZpQymSN7fnXSnbmo3LDsXnQwKv+z3f6J6zkh/EonxDEr3XEP+ixGCbl4M/Duq0M5Qy6Qi/j8KmhD1JQ/Hys0tl2Co9BoQ+wLRM0DqkWrWisay9ZsJKO6PB7mmo0JGbH9H1JHiuiC2CHPMxktbe+lf476Vnewe1yU/O/116QC+vPlBy0DBgNXSr4Q7BtaR6P/eUoRag06uAOk3fLw="

# splitting the build into install and test parts gives us a quicker way
# to identify what went wrong
script:
  - mvn test -B
  - if [ "${TRAVIS_PULL_REQUEST}" = "false" ]; then mvn sonar:sonar -Dsonar.projectKey=PantheonTechnologies_lighty-core -Dsonar.host.url=https://sonarcloud.io; fi

# before_cache happens before the second part of the cache phase,
# which happens after script
before_cache:
  - rm -rf $HOME/.m2/repository/io/lighty
