name: Publish docker image and helm chart
on:
  workflow_dispatch:
    inputs:
      app-name:
        description: Name of the application in `lighty-applications`
        required: true
      app-modules:
        description: Name of the modules with format ':{module-name},...' required to build docker image, e.g. ":lighty-rnc-app,:lighty-rnc-app-docker,:lighty-rnc-module"
        required: true
      app-docker-pom-path:
        description: Path to docker pom.xml file from repository root, e.g. "lighty-applications/lighty-rnc-app-aggregator/lighty-rnc-app-docker/pom.xml"
        required: true
      app-helm-values-path:
        description: Path to Helm YAML values from repository root, e.g. "lighty-applications/lighty-rnc-app-aggregator/lighty-rnc-app-helm/helm/lighty-rnc-app-helm/values.yaml"
        required: true
      app-helm-folder-path:
        description: Path to Helm folder from repository root, e.g. "lighty-applications/lighty-rnc-app-aggregator/lighty-rnc-app-helm/helm/"
        required: true
      image-name:
        description: Desired NAME of docker image, e.g. "lighty-rnc"
        required: true
      version:
        description: Desired version of published docker image & helm charts, e.g. "14.0.0"
        required: true
      image-tag-latest:
        description: Should be this docker labeled with tag latest? Enter `true` if the tag `latest` should be added for image.
        default: "false"
        required: true
      checkout-ref:
        description: The branch, tag or SHA to checkout. (if "default" the selected branch will be used)
        default: default
        required: true
jobs:
  publish-docker-helm:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    env:
      PUBLISH_ACCESS_KEY: ${{ secrets.MM_PKG_WRITE }}
    name: "Publish docker image and helm chart. App: ${{ github.event.inputs.app-name }}, Checkout-ref: ${{ github.event.inputs.checkout-ref }}"
    steps:
      - name: Clone Repository
        if: ${{ github.event.inputs.checkout-ref == 'default' }}
        uses: actions/checkout@v2
      - name: "Clone Repository, Ref: ${{ github.event.inputs.checkout-ref }}"
        if: ${{ github.event.inputs.checkout-ref != 'default' }}
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.inputs.checkout-ref }}
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: 21
          distribution: 'temurin'
      - name: Set up Maven
        uses: stCarolas/setup-maven@v5
        with:
          maven-version: 3.9.8
      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: "Publish docker and prepare helm-charts"
        uses: ./.github/workflows/publish-action
        with:
          app-modules: ${{ github.event.inputs.app-modules }}
          app-docker-pom-path: ${{ github.event.inputs.app-docker-pom-path }}
          app-helm-values-path: ${{ github.event.inputs.app-helm-values-path }}
          image-name: ${{ github.event.inputs.image-name }}
          version: ${{ github.event.inputs.version }})
          image-tag-latest: ${{ github.event.inputs.image-tag-latest }}
          publish-access-key: ${{ env.PUBLISH_ACCESS_KEY }}
      - name: "Publish Helm chart to Helm repository (Version: ${{ github.event.inputs.version }} )"
        if: ${{ github.event.inputs.version != '' }}
        uses: stefanprodan/helm-gh-pages@master
        with:
          token: ${{ env.PUBLISH_ACCESS_KEY }}
          charts_dir: ${{ github.event.inputs.app-helm-folder-path }}
          charts_url: https://pantheontech.github.io/helm-charts/
          repository: helm-charts
          branch: main
          chart_version: ${{ github.event.inputs.version }}
